* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

main {
  overflow: hidden;
}

/*----------------------------------HERO SCREEN AND HEADER------------------------------*/
@keyframes colorChange {
  0% {
    background: linear-gradient(243deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  }
  25% {
    background: linear-gradient(243deg, #5331ce 16.9%, #55B7FF 83.27%);
  }
  50% {
    background: linear-gradient(243deg, #2aebb1 16.9%, #55B7FF 83.27%);
  }
  75% {
    background: linear-gradient(243deg, #46f7a4 16.9%, #55B7FF 83.27%);
  }
  100% {
    background: linear-gradient(243deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  }
}
header {
  background: linear-gradient(243deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  animation: colorChange 14s infinite;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 6vh;
  padding-left: 6vh;
  transition: colorChange 0.5s ease;
}

header::after {
  content: "";
  background-image: url(../assets/hero-backround.png);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main_nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
  position: relative;
  padding-top: 7vh;
}

.nav_list {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  margin-left: 110px;
  margin-right: 110px;
  color: #FFF;
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav_item {
  position: relative;
}

.nav_dot {
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid #ffffff;
  display: inline-block;
  margin-right: 14px;
  border-radius: 50%;
}

.nav_item:first-child .nav_dot {
  background-color: #ffffff;
}

.nav_item:hover .nav_dot {
  background-color: #ffffff;
}

.sn_list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.sn_item a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  background-color: transparent;
  transition: background-color 0.3s;
  cursor: pointer;
}

.sn_item a:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  --p1: #9294f8;
}

.hero_slider {
  text-align: center;
  position: relative;
  z-index: 2;
}

h1 {
  color: #FFF;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 8px;
}

.hero_vision {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5.4px;
  text-transform: uppercase;
}

.down_button a {
  margin: 0 auto;
  margin-bottom: 7vh;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.down_button a:hover {
  background-color: #ffffff;
  --a1: #9294f8;
}

/*----------------------------------PROJECTS------------------------*/
section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.project_img {
  max-width: 630px;
  width: 100%;
}

.img_container {
  position: relative;
}

.img_container::before {
  content: "";
  background-color: #55B7FF;
  width: 2000px;
  height: 470px;
  position: absolute;
  top: -50px;
  right: 260px;
  z-index: -1;
}

.violet::before {
  background-color: #7E5AFF;
  left: 260px;
}

.all_projects {
  display: flex;
  flex-wrap: wrap;
  gap: 180px;
}

h2 {
  text-align: center;
  color: #2C4058;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 110px;
}

h2::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.place {
  color: #2C4058;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.name {
  color: #2C4058;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

.description {
  color: #2C4058;
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 470px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.details {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 16px 40px;
  border: 1px solid #2C4058;
  display: inline-block;
}

.details:hover {
  background-color: #2C4058;
  color: #ffffff;
}

.location {
  color: #000;
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  display: block;
  margin-top: 60px;
}

.location:hover {
  color: #55B7FF;
  --blue: #55B7FF;
}

.project_item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

/*-----------------------------------NEWS-------------------------------*/
.news {
  background: linear-gradient(237deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  padding-bottom: 170px;
  position: relative;
}

.news::after {
  content: "";
  background-image: url(../assets/news_background.png);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.news_slider {
  z-index: 1;
  position: relative;
}

.news h2 {
  color: #ffffff;
}

.news h2::after {
  background-color: #ffffff;
}

.news_card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 370px;
  width: 100%;
  position: relative;
}

.news_card .description {
  line-height: normal;
}

.building_img {
  max-width: 370px;
  width: 100%;
}

.blogger {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.post_name {
  color: #2C4058;
  font-size: 22px;
  font-weight: 700;
}

.post_name::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blogger_name {
  color: #2C4058;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 6px;
}

.post_date {
  color: #55B7FF;
  font-size: 14px;
  font-weight: 400;
}

.blogger_photo {
  max-width: 60px;
  width: 100%;
  border-radius: 50%;
}

.card_feedback {
  padding: 20px 20px;
}

/*-----------------------------------GALLERY-----------------------------*/
.lightgallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.lightgallery img {
  max-width: 285px;
}

.gal1 img {
  max-width: 580px;
}

.gal1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gal2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gal3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gal4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gal5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.lg-img-wrap {
  background-color: #e4e9fc;
}

.lg-toolbar {
  background-color: #c8c9fc;
  border-bottom: 1px solid #bad6f0;
}

.lg-counter {
  color: #ffffff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.lg-prev {
  background-color: #c8c9fc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.lg-icon::after {
  background-image: url(../assets/left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
}

.lg-next {
  background-color: #c8c9fc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.lg-icon::before {
  background-image: url(../assets/right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  background-position: center;
}

.lg-download {
  position: relative;
}

.lg-download::after {
  content: "";
  background-image: url(../assets/download.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  left: 0;
}

.lg-close {
  position: relative;
}

.lg-close::after {
  content: "";
  background-image: url(../assets/close.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  left: 0;
}

.seebutton_container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.lightgallery a {
  position: relative;
}

.lightgallery a:hover::after {
  content: "";
  background-image: url(../assets/spotlight.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 2;
}

/*----------------------------MAP-----------------------------------*/
.map {
  height: 40vh;
  position: relative;
  z-index: 2;
}

/*---------------------------FOOTER-----------------------------------*/
.small_container {
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

footer {
  padding-top: 210px;
  padding-bottom: 234px;
  background: linear-gradient(251deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  position: relative;
}

footer::after {
  content: "";
  background-image: url(../assets/background-footer.png);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.copyright {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  margin-top: 40px;
}

/*--------------------------FORMS----------------------------------*/
.form {
  background-color: #ffffff;
  background-image: url(../assets/city-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  z-index: 4;
  bottom: 400px;
  left: 50%;
  transform: translateX(-50%);
  padding: 90px 60px 68px 60px;
}

.h2_form {
  margin-bottom: 42px;
}

.form_wrapper {
  display: flex;
  gap: 54px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.contact_info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contact_info a:hover {
  color: #7E5AFF;
}

.icon {
  margin-right: 10px;
  color: #7E5AFF;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.form_button {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  padding: 11px 0px;
  width: 140px;
  background-color: transparent;
  cursor: pointer;
}

.button_wrapper {
  display: flex;
  justify-content: end;
}

input[type=text] {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #ccc;
  outline: none;
  width: 310px;
  padding-bottom: 14px;
}

input[type=text]:focus {
  border: 1px solid transparent;
  border-bottom: 1px solid #2C4058;
  outline: none;
}

/*-----------------------------------------FORM VALIDATION----------------------------------*/
.d-none {
  opacity: 0;
}

.error {
  color: #e65f5f;
  font-size: 14px;
  margin-bottom: 15px;
  max-width: 310px;
  line-height: 18px;
}

/*--------------------------ICONS-----------------------------------*/
.down {
  width: 9px;
  height: 6px;
}

.left {
  width: 5px;
  height: 9px;
}

.right {
  width: 5px;
  height: 9px;
}

.facebook {
  width: 10px;
  height: 16px;
}

.twitter {
  width: 16px;
  height: 14px;
}

.instagram {
  width: 15px;
  height: 14px;
}

.loc_marker {
  width: 9px;
  height: 14px;
  margin-right: 20px;
}

/*----------------------------SLICK -------------------------*/
.slick-track {
  display: flex;
  gap: 30px;
}

.slick-dots li img:nth-child(1) {
  display: block;
}

.slick-dots li img:nth-child(2) {
  display: none;
}

.slick-dots li.slick-active img:nth-child(1) {
  display: none;
}

.slick-dots li.slick-active img:nth-child(2) {
  display: block;
}

.slick-dots {
  display: flex;
  justify-content: center;
  gap: 30px;
  transform: translateY(40px);
}

.hero_slider ul {
  flex-direction: column;
  align-items: flex-end;
}

.arrows {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.arrows:hover {
  background-color: #ffffff;
  --p2: #55B7FF;
}

.slick-prev::before, .slick-next::before {
  display: none;
}

.a-left {
  transform: translateX(-60px);
}

.a-right {
  transform: translateX(60px);
}

/*-----------------------HAMBURGER--------------------------------*/
.bar {
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.hamburger {
  display: none;
}

/*----------------FOR SMALL LAPTOPS--------------------*/
@media screen and (max-width: 1280px) {
  .container {
    max-width: 1000px;
  }

  .nav_list {
    margin-left: 50px;
    margin-right: 50px;
    gap: 30px;
  }

  h1 {
    font-size: 60px;
  }

  .post_name {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }

  .blogger_name {
    font-size: 14px;
  }

  .lightgallery img {
    max-width: 238px;
  }

  .gal1 img {
    max-width: 480px;
  }

  input[type=text] {
    width: 100%;
  }

  .contact_info {
    font-size: 14px;
    width: 330px;
  }

  h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 968px) {
  .container {
    max-width: 700px;
  }

  .tablet_container {
    max-width: 1200px;
  }

  .main_nav {
    position: fixed;
    background-color: #7E5AFF;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    justify-content: center;
    gap: 450px;
    padding: 20px 0;
  }

  h1 {
    margin-top: 50vh;
    font-size: 40px;
  }

  .hero_vision {
    font-size: 14px;
  }

  h2 {
    font-size: 30px;
  }

  .place {
    font-size: 18px;
  }

  .name {
    font-size: 30px;
  }

  .description {
    font-size: 14px;
  }

  .location {
    font-size: 12px;
  }

  .details {
    padding: 10px 20px;
  }

  section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  h2 {
    margin-bottom: 70px;
  }

  .post_name {
    font-size: 14px;
  }

  .blogger_name {
    font-size: 14px;
  }

  .post_date {
    font-size: 12px;
  }

  .lightgallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1 fr;
  }

  .lightgallery img {
    max-width: 345px;
  }

  .gal1 img {
    max-width: 695px;
  }

  .gal1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gal2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gal3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .gal4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gal5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .form {
    padding: 45px 30px;
  }

  .d-none {
    display: none;
  }

  .inputs {
    gap: 15px;
  }

  .img_container::before {
    width: 220px;
    height: 280px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .sn_none {
    display: none;
  }

  .footer_nav {
    justify-content: center;
    gap: 320px;
  }

  .copyright {
    text-align: center;
  }

  .nav_list {
    position: fixed;
    right: -120%;
    top: 42px;
    font-size: 12px;
    flex-direction: row;
    width: 50%;
    transition: 0.3s;
    row-gap: 10px;
  }

  .nav_list.active {
    right: 0;
  }

  header::after {
    background-image: url(../assets/hero-backround-tablet.png);
  }

  .news::after {
    content: "";
    background-image: url(../assets/news_background-tablet.png);
  }

  footer::after {
    content: "";
    background-image: url(../assets/background-footer-tablet.png);
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 300px;
    margin: 0 auto;
  }

  .tablet_container {
    max-width: 576px;
    gap: 25px;
  }

  h1 {
    font-size: 35px;
  }

  .lightgallery img {
    width: 100%;
  }

  .gal1 img {
    width: 100%;
  }

  .img_container::before {
    height: 200px;
    top: -50px;
    left: -50px;
    width: 300px;
  }

  .violet::before {
    left: 60px;
    width: 300px;
  }

  .reversed {
    flex-direction: column-reverse;
  }

  .form {
    bottom: 430px;
  }

  .form_wrapper {
    flex-direction: column;
    width: 100%;
    max-width: 280px;
  }

  .footer_nav {
    flex-wrap: wrap;
    gap: 20px;
  }

  .main_nav {
    gap: 40px;
    justify-content: center;
  }

  h1 {
    margin-top: 30vh;
  }

  .hero_slider ul {
    flex-direction: row;
    justify-content: center;
  }

  .nav_list {
    top: 80px;
    right: -100;
    font-size: 12px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    row-gap: 50px;
    background-color: #7E5AFF;
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
  }

  .nav_item {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    background-color: #78bef0;
  }

  .nav_dot {
    display: none;
  }

  .slick-track {
    gap: 0;
  }

  .map {
    height: 60vh;
  }

  .project_item {
    flex-wrap: wrap;
  }

  header::after {
    background-image: url(../assets/hero-backround-phone.png);
  }

  .news::after {
    content: "";
    background-image: url(../assets/news_background-phone.png);
  }

  footer::after {
    content: "";
    background-image: url(../assets/background-footer-phone.png);
  }
}