* {
    margin: 0;
    padding: 0;
    transition: all .1s ease-in;
}
body, html {
    width: 100%;
    height: 100%;
}
ul, ol {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
main {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
    padding-bottom: 90px;
}
.hamburger {
    display: none;
}
/*-------------------------HEADER---------------------------*/
.logo {
    width: 142px;
    height: 12px;
    visibility: visible;
}

.nav_item {
    color: var(--base-black, #000);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    position: relative;
}
.nav_item::after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.nav_item:hover::after {
    opacity: 1;
}
.nav_item:first-child::before {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
header {
    background: #FFF;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    max-width: 1170px;
    width: 100%;
    background-color: #fff;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 150px;
    padding-right: 150px;  
    box-shadow: 0px 25px 27px -28px rgba(143,133,143,0.64);
    top: 0;
}
.icons {
    display: flex;
    column-gap: 40px;
}
.nav_menu {
    display: flex;
    column-gap: 42px;
}

.bar {
    display: block;
    width: 23px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
input[type="text"] {
    display: none;
    padding-left: 10px;
    height: 20px;
    width: 200px;
    border: 1px solid #e4e1e1;
    border-radius: 5px;
}
input[type="text"]:focus {
    border: 1px solid #e4e1e1;
    border-radius: 5px;
}
.search {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    align-items: center;
}
.img_search {
    width: 21px;
}

/*-----------------FIRST SCREEN--------------------*/
h1 {
    color: var(--base-black, #000);
    font-family: "Red Hat Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; 
    letter-spacing: 2.4px;
    max-width: 770px;
    padding-top: 100px;
    padding-bottom: 380px;
}
.first_screen {
    background-image: url(../assets/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
/*--------------------BLOG--------------------*/
.blog_1, .blog_2 {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.blog_1 {
    margin-bottom: 50px;
    justify-content: left;
}
.blog_2 {
    justify-content:right;
}

.blog_img {
    max-width: 570px;
    width: 100%;
}
.heading1_bigger {
    color: var(--grey-500, #7B7B7B);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%; 
    letter-spacing: 1.6px;
}
.heading2_bigger {
    color: var(--base-black, #000);
    font-family: "Red Hat Display";
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 166%; 
    letter-spacing: 2.3px;
    max-width: 369px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.heading3_bigger {
    color: var(--grey-500, #7B7B7B);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%; 
    letter-spacing: 1.6px;
    margin-bottom: 50px;
}
.section_text {
    color: var(--grey-700, #565656);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%; 
    letter-spacing: 0.8px;
    max-width: 448px;
}
h2 {
    color: var(--base-black, #000);
    font-family: "Red Hat Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 2.4px;
    margin-bottom: 50px;
}
.arrow {
    margin-left: 11px;
}
/*----------------POSTS SECTION----------------------*/
.heading_link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}
h3 {
    color: var(--base-black, #000);
    font-family: "Red Hat Display";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 166%; 
    letter-spacing: 2.8px;
}
.view_link {
    color: var(--grey-500, #7B7B7B);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%; 
    letter-spacing: 1.6px;
}
.all_posts, .most_popular {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}
.post_img {
    max-width: 370px;
    
}
.heading1_smaller {
    display: flex;
    justify-content: space-between;
    color: var(--grey-500, #7B7B7B);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%; 
    letter-spacing: 1.2px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.heading2_smaller {
    color: var(--base-black, #000);
    font-family: "Red Hat Display";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 166%;
    letter-spacing: 2.2px;
    margin-bottom: 20px;
}
.popular_item .section_text {
    max-width: 540px;
}
.load_more {
    display: flex;
    justify-content: center;
}
.load_button {
    color: var(--base-white, #FFF);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 166%;
    letter-spacing: 1.6px;
    background-color: var(--gray, #565656);
    padding: 9.5px 45px;
    margin-top: 50px;
}
/*--------------------FINAL SECTION------------------------*/
.final_section {
    display: flex;
    justify-content: space-between;
}
.text_part1 {
    color: var(--base-black, #000);
    font-family: "Red Hat Display";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%;
    letter-spacing: 2.3px;
    max-width: 470px;
}
.text_part1 p .arrow {
    margin-left: 0;
}
.text_part2 {
    color: var(--grey-700, #565656);
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    letter-spacing: 0.95px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-width: 470px;
}
/*-------------------------FOOTER-----------------------------------*/
footer {
    background-color: var(--grey-100, #F4F4F4);
    padding-top: 70px;
    padding-bottom: 30px;
}
.contacts {
    display: flex;
    justify-content: space-between;
}
.references {
    display: flex;
    flex-direction: column;
}
.footer_heading {
    color: var(--base-black, #000);
    font-family: "Red Hat Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; 
    letter-spacing: 2.4px;
    margin-bottom: 30px;
}
.references a {
    color: var(--base-black, #000);
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%; 
    letter-spacing: 1.6px;
}
.references a:first-of-type {
    margin-bottom: 14px;
}
.links {
    display: flex;
    flex-direction: row;
    column-gap: 23px;
    align-items: center;
}
.copyright {
    display: flex;
    justify-content: center;
    color: var(--base-black, #000);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%; 
    letter-spacing: 1.2px;
    margin-top: 26px;
}
.instagram {
    width: 26px;
    height: 24px;
}
.facebook {
    width: 14px;
    height: 24px;
}
.twitter {
    width: 30px;
    height: 24px;
}
.linkedin {
    width: 24px;
    height: 24px;
}
.link_item {
    width: 50px;
    height: 50px;
    border: 1px solid #565656;
    display:flex;
    justify-content: center;
    align-items: center;
}
.link_item:hover {
    --p1:#fff;
    background-color: #565656;
}
/*________________________FOR TABLET_______________________________*/
@media screen and (max-width:968px) {
    .container {
        max-width: 700px;
        margin: 0 auto;
    }
    header {
        margin-bottom: 50px;
    }
    .navbar {
        width: 100%;
        max-width: 700px;
        padding-top: 23px;
        padding-bottom: 23px;
    
    }

    .nav_menu {
        position: fixed;
        right: -100%;
        top: 75px;
        flex-direction: column;
        background-color: #fff;
        width: 50%;
        border-radius: 2px;
        text-align: center;
        transition: 0.3s;
        box-shadow: -33px 40px 76px -6px rgba(0,0,0,0.75);
        height: 100vh;
        row-gap: 10px;
        padding-top: 50px;
    }
    .nav_menu.active {
        right: 0;
    }
    .nav_item {
        font-size: 30px;
        width: 100%;
        padding-top: 25px;
        padding-top: 25px;
    }
    .nav_item_a {
        display:block;
        width: 100%;
    }
    .nav_item:hover {
        color: #7B7B7B;
    }
    .nav_item::before {
        display: none;
    }
    .nav_item::after {
        display: none;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    
    h1 {
        padding-top: 30px;
        padding-bottom: 190px;
        font-size: 36px;
        max-width: 600px;
    }
    .first_screen {
        background-size: cover;
        max-width: 768px;
        width: 100%;
        display: flex;
        align-self: center;
        margin-top: 25px;
    }
    main {
        row-gap: 70px;
        padding-bottom: 70px;
    }
    .blog_img {
        max-width: 340px;
    }
    .heading3_bigger {
        margin-bottom: 25px;
        margin-top: 0px;
    }
    .heading2_bigger {
        margin-top: 10px;
    }
    .post_img {
        max-width: 340px;
    }
    .all_posts {
        flex-direction: column;
        row-gap: 30px;
    }
    .post_item {
        display: flex;
        column-gap: 20px;
    }
    .reverse {
        flex-direction: row-reverse;
    }
    .popular_img {
        max-width: 340px;
    }
    .most_popular {
        column-gap: 20px;
    }
    .heading2_smaller {
        font-size: 22px;
    }
    .final_section {
        flex-direction: column;
        row-gap: 50px;
    }
    .text_part2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: right;
        max-width: 700px;
    }
    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .references a{
        justify-content: center;
        display: flex;
        margin-bottom: 51px;
    }
    .links {
        justify-content: center;
    }
    .footer_heading {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    footer {
        padding-bottom: 50px;
    }
   
}
@media screen and (max-width:576px) {
    .container {
        max-width: 300px;
        margin: 0 auto;
    }

    .navbar {
        width: 100%;
        max-width: 300px;
   
    }
    .icons {
        column-gap: 20px;
    }
    .nav_menu {
        width: 80%;
    }
    input[type="text"] {
        padding-left: 10px;
        width: 60px;
        
    }
    .hamburger {
        margin-bottom: 3px;
    }
    .first_screen {
        margin-top: 30px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        display: flex;
        justify-content: center;
    }
    .blog_1 {
        display: flex;
        flex-direction: column-reverse;
    }
    .section_text {
        margin-bottom: 37px;
    }
    .blog_2 {
        display: flex;
        flex-direction: column;
    }
    .heading_link {
        display: flex;
        flex-direction: column;
    }
    .post_item {
        display: flex;
        flex-direction: column;
    }
    .most_popular {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
    .post_img, .blog_img, .popular_img {
        max-width: 300px;
        width: 100%;
    }
    .text_part2 {
        justify-content: flex-start;
        text-align: left;
    }
    footer {
        padding-top: 50px;
    }
    .footer_heading {
        font-size: 32px;
    }
    .references a {
        font-size: 18px;
    }
    .copyright {
        margin-top: 40px;
    }
    .copyright p {
        text-align: center;
        font-size: 16px;
    }
}
