* {
  transition: all 0.1s ease-in;
}

h2 {
  color: var(--card-name-text, #282528);
  font-family: Train One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: #3C3C3C;
}

h1 {
  color: var(--title-title-subtitle-text, #3C3C3C);
  font-family: Lato;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.42px;
  text-transform: uppercase;
  position: relative;
}