* {
    margin: 0;
    padding: 0;
    transition: all .1s ease-in;
}
body, html {
    width: 100%;
    height: 100%;
}
ul, ol {
    list-style: none;
}
a, button {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
/*--------------------------------------------------------*/
body {
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    background: linear-gradient(35deg, #ccffff, #ffcccc);
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 80px;
}
h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    color: #6a596d;
}
button {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    width: 420px;
    height: 90px;
    border-radius: 12px;
    color: #6a596d;
    border: 7px solid #C9B1FF;
    background-color: #fde4f7;
    box-shadow: 18px 25px 55px -28px rgba(0,0,0,0.75);
    &:hover {
        border: 7px solid #C9B1FF;
        background-color: #dfffff;
        font-size: 29px;
        box-shadow: 18px 25px 39px -16px rgba(0,0,0,0.75);
    }

}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    row-gap: 40px;
}

