html, body {
    width: fit-content;
    height: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:blueviolet;
    margin-left: 200px;
}
h1 {
    text-align: center;
}
