* {
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #3C3C3C;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

main {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*---------------TABLE----------------------*/
.table_grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 25px;
  justify-content: center;
  gap: 40px;
  align-content: center;
  height: 90vh;
  max-width: 60%;
}

.table {
  background-color: #07ce8c;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  border: 10px solid #087E8B;
  border-radius: 30px;
  align-content: center;
  align-items: center;
}

/*---------------CARDS-----------------------*/
.red {
  color: #FF4848;
}

.black {
  color: #494747;
}

.card {
  width: 60px;
  height: 93px;
  position: relative;
}

.card.active .card_front {
  transform: rotateY(180deg);
}

.card.active .card_back {
  transform: rotateY(0deg);
}

.card_front, .card_back {
  width: 75px;
  height: 115px;
  transition: all 0.3s ease;
  position: absolute;
}

.card_front {
  background-color: #fff;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  border-radius: 5px;
  border: 1px solid #494747;
  display: inline-block;
  backface-visibility: hidden;
}

.card_front img {
  max-width: 75px;
  border-radius: 5px;
}

.card_back {
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #494747;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.column_1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.column_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column_3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: rotate(180deg);
}

.small {
  width: 10px;
  height: 10px;
}

.big {
  max-width: 50px;
}

.card p {
  font-family: "phudu", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/*-------------------------TEXT--------------------------*/
h1 {
  font-family: "Phudu", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  font-size: 16px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.meaning {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

ol {
  border: 1px solid #14750b;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5px;
  row-gap: 5px;
  max-width: 450px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Phudu", Arial, Helvetica, sans-serif;
  background-color: #489FB5;
  border: 2px solid #16697A;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 20px;
}

button:hover {
  background-color: #FF4848;
  border: 2px solid #ecc204;
  color: #fff;
}

.button1 {
  margin-bottom: 10px;
}